<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Programming Challenge Hour with the ACM Trinity College Computer Science Club">
    <title>Programming Challenge Hour</title>
    <style>
      body {
        font-family: 'Lato', sans-serif;
      }
      h3 {
        font-family: 'Sanchez', serif;
      }
    </style>
    <style>
      a {
        outline: none;
        padding: 2px 1px 0;
      }
      a:link {
        color: #265301;
      }
      a:visited {
        color: #437A16;
      }
      a:focus {
        border-bottom: 1px solid;
        background: #BAE498;
      }
      a:hover {
        border-bottom: 1px solid;
        background: #CDFEAA;
      }
      a:active {
        background: #265301;
        color: #CDFEAA;
      }
    </style>
  </head>
  <body>
    <table>
      <thead>
        <tr><th>Feb 08</th></tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <a href="https://leetcode.com/problems/jewels-and-stones/description">Jewels and stones</a>
          </td>
          <td>E</td>
        </tr>
        <tr>
          <td>
            <a href="https://leetcode.com/problems/judge-route-circle/description">Judge-route-circle</a>
          </td>
          <td>E</td>
        </tr>
        <tr>
          <td>
            <a href="https://leetcode.com/problems/encode-and-decode-tinyurl/description">Encode-and-decode-tinyurl</a>
          </td>
          <td>M</td>
        </tr>
        <tr>
          <td>
            <a href="https://leetcode.com/problems/partition-labels/description">Partition-labels</a>
          </td>
          <td>M</td>
        </tr>
      </tbody>

      <thead>
        <tr><th>Feb 01</th></tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <a href="https://leetcode.com/problems/isomorphic-strings</description/">Isomorphic-strings</a>
          </td><td>
          E
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://leetcode.com/problems/beautiful-arrangement/description/">Beautiful-arrangement</a>
          </td>
          <td>M<td>
        </tr>
        <tr>
          <td>
            <a href="https://leetcode.com/problems/optimal-division/description/">Optimal-division</a>
          </td>
          <td>M</td>
        </tr>
        <tr>
          <td>
            <a href="https://leetcode.com/problems/arithmetic-slices/description/">Arithmetic-slices</a>
          </td>
          <td>MH</td>
        </tr>
      </tbody>

      <thead>
        <tr><th>Jan 25</th></tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <a href="https://leetcode.com/problems/ransom-note/description/">ransom-note</a>
          </td>
          <td>EL</td>
        </tr>
        <tr>
          <td>
            <a href="https://leetcode.com/problems/add-binary/description/">add-binary</a>
          </td>
          <td>EH</td>
        </tr>
        <tr>
          <td>
            <a href="https://leetcode.com/problems/optimal-division/description/">optimal-division</a>
          </td>
          <td>ML</td>
        </tr>
        <tr>
          <td>
            <a href="https://leetcode.com/problems/arithmetic-slices/description/">arithmetic-slices</a>
          </td>
          <td>MH </td>
        </tr>
      </tbody>

      <thead>
        <tr><th>Nov 16</th></tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <a href="https://leetcode.com/problems/detect-capital/description/">detect-capital</a>
          </td>
          <td>EL</td>
        </tr>
        <tr>
          <td>
            <a href="https://leetcode.com/problems/find-all-numbers-disappeared-in-an-array/description/">find-all-numbers-disappeared-in-an-array</a>
          </td>
          <td>EH</td>
        </tr>
        <tr>
          <td>
            <a href="https://leetcode.com/problems/complex-number-multiplication/description/">complex-number-multiplication</a>
          </td>
          <td>ML</td>
        </tr>
        <tr>
          <td>
            <a href="https://leetcode.com/problems/counting-bits/description/">counting-bits</a>
          </td>
          <td>MH</td>
        </tr>
      </tbody>

      <thead>
        <tr><th>Nov 09</th></tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <a href="https://leetcode.com/problems/fizz-buzz/description/">fizz-buzz</a>
          </td>
          <td>E</td>
        </tr>
        <tr>
          <td>
            <a href="https://leetcode.com/problems/distribute-candies/description/">distribute-candies</a>
          </td>
          <td>E</td>
        </tr>
        <tr>
          <td>
            <a href="https://leetcode.com/problems/keyboard-row/description/">keyboard-row</a>
          </td>
          <td>E</td>
        </tr>
      </tbody>
    </table>
  </body>
  <link href="https://fonts.googleapis.com/css?family=Lato|Sanchez" rel="stylesheet">
</html>
